<nav>
  <p class="logo">J&C Cost Calculator</p>

  <ul class="navbar-content" id="navbar-content">
    <li>
      <a href="#">Inicio</a>
    </li>
    <li>
      <a href="#">Features</a>
    </li>
    <li>
      <a href="#">Quote</a>
    </li>
  </ul>

  <button class="primary-button" id="navbar-button">Get Started</button>
</nav>

<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid var(--border-color);

    padding: 16px 32px;

    background-color: var(--container-color);
  }

  .nabvar-content {
    display: contents;
  }

  li {
    margin: 0 16px;
  }

  li a {
    text-transform: uppercase;
    letter-spacing: 1.4px;

    color: #adaaaa;
  }
</style>
