---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<nav>
  <p class="logo">J&C Cost Calculator</p>

  <ul class="navbar-content" id="navbar-content">
    <li>
      <a href="#hero">{t("nav.home")}</a>
    </li>
    <li>
      <a href="#features">{t("nav.features")}</a>
    </li>
    <li>
      <a href="#quote">{t("nav.quote")}</a>
    </li>
  </ul>

  <button class="primary-button" id="navbar-button"
    >{t("nav.getStarted")}</button
  >
</nav>

<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid var(--border-color);

    padding: 16px 32px;

    background-color: var(--container-color);

    height: 70px;
  }

  .nabvar-content {
    display: contents;
  }

  li {
    margin: 0 16px;
  }

  li a {
    text-transform: uppercase;
    letter-spacing: 1.4px;

    color: #adaaaa;
  }
</style>
