---
import { Image } from "astro:assets";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

import CheckIcon from "./icons/CheckIcon.astro";

type AstroImageModule = { default: ImageMetadata };

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const quoteImages = import.meta.glob<AstroImageModule>("../assets/quote-*.png");

const quoteImgPath = `../assets/quote-${lang}.png`;

const quoteImgModule = await quoteImages[quoteImgPath]();
---

<div class="quote" id="quote">
  <div class="quote-image reveal-right">
    <Image src={quoteImgModule.default} alt={t("alt.quote")} />
  </div>

  <div class="quote-info">
    <div>
      <p class="subtitle reveal-left">{t("quote.subtitle")}</p>
      <h2 class="reveal" set:html={t("quote.title")} />
    </div>

    <p>
      {t("quote.desc")}
    </p>

    <ul class="quote-info-list">
      <li class="reveal-left"><CheckIcon /> {t("quote.feature.inventory")}</li>
      <li class="reveal-left"><CheckIcon /> {t("quote.feature.margin")}</li>
      <li class="reveal-left"><CheckIcon /> {t("quote.feature.quotes")}</li>
    </ul>
  </div>
</div>

<style>
  .quote {
    background-color: var(--card-color);

    display: flex;
    gap: 32px;

    padding: 96px 48px;
  }

  .quote-info {
    display: flex;
    flex-direction: column;
    gap: 32px;

    width: 50%;
  }

  .quote-info-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }

  .quote-info-list li {
    display: flex;
    align-items: center;
    gap: 16px;

    color: #fff;
  }

  .quote-image {
    width: 50%;
  }

  .quote-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    display: block;
  }

  .quote-info-list li:nth-child(1) {
    transition-delay: 0.1s;
  }
  .quote-info-list li:nth-child(2) {
    transition-delay: 0.2s;
  }
  .quote-info-list li:nth-child(3) {
    transition-delay: 0.3s;
  }

  @media (max-width: 48rem) {
    .quote {
      flex-direction: column;
    }

    .quote-info {
      width: 100%;
      padding: 32px;
    }

    .quote-info h2,
    .quote-info p {
      max-width: 100%;
    }

    .quote-image {
      width: 100%;
    }

    .quote-image img {
      object-fit: cover;
    }
  }
</style>
